body {
  background: rgb(37, 37, 37);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: bisque;
}
button {
  transition: all .1s ease-in;
}
button:hover {
  transform: scale(1.1);
}
.header {
  background: rgb(19, 19, 19);
  padding: 20px 0;
  text-align: center;
}
.add-title {
  color:crimson;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 0 5px;
  color: whitesmoke;

}
span {
  cursor: pointer;
}

.like::before {
  content: '';
  background: url(./components/img/like.svg) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.comment::before {
  content: '';
  background: url(./components/img/comment.svg) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
  margin-right: 5px;
}
.share::before {
  content: '';
  background: url(./components/img/share.svg) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.post-img {
  width: 100%;
  border-radius: 10px;
}
.header-links {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}
.author-info {
  display: inline-flex;
  gap: 10px;
}
.wrapper {
  max-width: 1024px;
  width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
  background: rgb(26, 26, 26);
  border-radius: 10px;
}
h3 {
  color: whitesmoke;
  font-weight: 600;
}
h4 {
  color: #ffffff5b;
  font-weight: normal;
}
h5 {
  color: #ffffff5b;
}
.author-img {
  width: 90px;
  height:90px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}
p {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.posts-container {
  margin: 30px 0;
}
.add-post {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}
label {
  color: whitesmoke;
  margin-right: 10px;
}
input {
  text-align: center;
  padding: 5px 0;
  width: 100%;
  border: 1px solid crimson;
  background: transparent;
  box-sizing: border-box;
  color: whitesmoke;
}
input::placeholder{
  text-align: center;
}
textarea {
  width: 100%;
  height: 50px;
  text-align: center;
  border: 1px solid crimson;
  background: transparent;
  box-sizing: border-box;
  color: whitesmoke;
}

textarea::placeholder{ 
  text-align: center;
}
.add-button {
  padding: 5px 0;
  max-width: 150px;
  width: 100%;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid crimson;
  color: crimson;
  cursor: pointer;
  background: transparent;
  transition: all .2s ease;
  box-shadow: 2px 2px 5px black;
}
.add-button:hover {
  color: whitesmoke;
  background: crimson;
}
.add-button:active {
  transform: scale(0.95);
  box-shadow: 1px 1px 5px black;
}
.add-link {
  color: crimson;
}
.count-button {
  background: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}